.vs/
*.exe
*.dll
*.pdb
*.suo
*.user
*.cache
obj/
bin/
packages/
*.log
AddEntidades.cs
CheckSyntax.cs
FindMangled.cs
FixBOM.cs
FixBOM2.cs
FixMangled.cs
FixNamespaces.cs
FixNamespaces2.cs
PrintO.cs
# Dependencias necesarias de SQL Server
!SqlServerTypes/
!SqlServerTypes/x86/
!SqlServerTypes/x64/
!SqlServerTypes/x86/*.dll
!SqlServerTypes/x64/*.dll

!Vista/SqlServerTypes/
!Vista/SqlServerTypes/x86/
!Vista/SqlServerTypes/x64/
!Vista/SqlServerTypes/x86/*.dll
!Vista/SqlServerTypes/x64/*.dll